@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #3b3b3b;
  --choco: #9f544f;
  --strawberry: #fe7f82;
  --gray: #c1c1c1;
  --white: #f5f5f5;
  --lightGray: #e9ecf3;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: var(--black);
  background-color: var(--white);
}
